*{
    box-sizing: border-box;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
@keyframes fadeInAnimation{
  0% {opacity: 0;}
  100% {opacity: 1;}
    }

@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}

body{
    min-height: 100vh;
    background: linear-gradient(135deg, #141e30, #243b55);
    opacity: 0;
    animation: fadeInAnimation ease 3s;
    animation-fill-mode: forwards;
}

.head{
    z-index: 1000;
    width: 100%;
    background: rgb(20, 30, 48);
    display: flex;
    padding: 30px;
    justify-content: space-around;
    border-bottom: 2px dashed white;
    margin-bottom: 25px;
}

.scoreBox{
    width: 300px;
    border: 2px solid #367bf0;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: #ffffff;
    font-size: 1.2rem;
}

.scoreBox span{
    font-weight: bold;
}

#main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 12px;
    
}

.box{
    height: 200px;
    width: 200px;
    border-radius: 15px;
}
#matchBox{
    height: 150px;
    width: 150px;
    border-radius: 15px;
}

/* Media Queries for Small Screens */

@media (max-width: 650px) {
    .head {
        flex-direction: row;
        align-items: center;
        gap: 20px;
        padding: 20px 10px;
    }

    .scoreBox {
        width: 100%;
        height: 114px;
        max-width: 280px;
        font-size: 1rem;
        padding: 10px 0px;
    }

    .box {
        height: 114px;
        width: 115px;
    }

    #matchBox {
        height: 114px;
        width: 115px;
    }
}

@media (max-width: 470px){

    .head{
        flex-direction: column;
    }
    #matchBox{
        width:280px;
    }

}

@media (max-width: 320px){
    body{
        min-width: 320px;
    }

    .box {
        height: 114px;
        width: 115px;
    }
}

/* Media Queries for Large Screen */

@media screen and (min-width: 1600px) and (max-width: 2560px){
    
    .box, #matchBox{
        width: 300px;
        height: 300px;
    }

    .scoreBox{
    width: 650px;
    font-size: 2.9rem;
}
}
